body{
    font-family: 'Indie Flower', cursive;
    background-color: grey;
}
button{
    margin: 0 45%;
    padding: 1% 2%;
    background-color: navy;
    color: white;
}
button:hover{
    cursor: pointer;
}
#contDiv{
    margin: 10%;
    padding: 5%;
    border: 2px solid black;
    font-size: 1.5em;
}
.parole{
    color: blue;
    margin-left: 20%;
}
.parole:before{
    content: " ";
    animation-name: animazione;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes animazione {
    0% {content: "Single page app";}
    50% {content: "Interfacce web";}
    100% {content: "App native";}
}